# Pin source + proof files to LF regardless of core.autocrlf / platform.
# HB-0065: several scribe proofs anchor a literal char immediately before `\n`
# in a cross-line regex over checked-out source; on a CRLF checkout (Windows —
# the field machines' platform) those `\n`-anchored matches false-fail and red the
# green-gate even though the product code is correct. Forcing LF here makes the
# proofs deterministic across platforms (the product never depends on EOL).
*.ts   text eol=lf
*.tsx  text eol=lf
*.mjs  text eol=lf
*.js   text eol=lf
*.json text eol=lf
*.sh   text eol=lf
# The licence documents are a BYTE contract: LICENSE.md states the SHA-256 of
# MERCURY-COMMUNITY-PRODUCTION-TERMS.md, and the packager refuses an archive
# whose terms file hashes differently. A CRLF checkout (the Windows release
# runner, core.autocrlf on) changed those bytes and failed the beta.3 package
# job on Windows alone. Every markdown document is pinned to LF on every
# platform, so the stated hash is true wherever the tree is checked out.
*.md   text eol=lf
